<%# page with a specific look %>
<div>
<h1>
<%= @the_look.person.first_name.capitalize %>'s look #<%= @the_look.id %>
</h1>

    <div class="container">
      <div class="row">
      <div class="col">
       <img src="<%= @the_look.first_garment.image %>">
      </div>

       <div class="col">
    <dl>
      <dt>
      

</div>

<%#

color_garment = garment_1.fetch("hex_code")

type_garment = garment_1.fetch("type")

if

garment 1 is type and color, show

matches of type and color

else

hide

if garment 1 and 2 are

type 1 color 1 type 2 color 2

show combinations

else 

hide




 %>
